footer {
  padding: 2vmax;
  background-color: var(--blue);
  color: var(--white);
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-bottom: 0;
}
.top-footer{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.midFooter {
  width: 60%;

  text-align: center;
}

.midFooter > h1 {
  font-size: 3vmax;
  font-family: "Roboto";
  color: var(--v1);
}
.midFooter > p {
  max-width: 60%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 1vmax auto;
}

.rightFooter {
  width: 20%;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.rightFooter > h4 {
  font-family: "Roboto";
  font-size: 1.4vmax;
  text-decoration: underline;
  margin-bottom: 1rem;
}
.rightFooter > a {
  text-decoration: none;
  font-size: 1.3vmax;
  font-weight: 600;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: var(--white);
  transition: all 0.5s;
  margin: 0.5vmax;
}

.rightFooter > a:hover {
  color: var(--v1);
}


.copy-right{
  opacity: 0.7;
  padding: 1rem 0.5rem;
  background-color: var(--black);
  width: 100%;
  display: flex;
  justify-content: center;
}